# Data directory
data/

# R specific
.Rproj.user
.Rhistory
.RData
.Ruserdata

# Quarto
.quarto/
*_files/
*_cache/

# OS specific
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

/.quarto/
